* {
    padding: 0px;
    margin: 0px;
}
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }

.mainMenu {
    margin-top: 15%;
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'left left menu main right right';
  grid-gap: 0px;
  padding: 0px;
}

.mainMenu > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


.wellcome {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 55px;
    color: white;
}
body {
    background-color: #fff;
}
 .login , .signUp {
     text-decoration: none;
 }